<style>
  .welcome{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .welcome__image{
    height: 100%;
    width: 65%;
    background-image: url("../../2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .welcome__image--blur{
    width: 100%;
    height: 100%;
    background-color: rgba(50, 101, 212, 0.603);
  }

  .welcome__login{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button,a {
    width: 300px;
  }

  @media (max-width: 1024px) {
    .welcome__image{
    width: 50%;
    background-position:right;
  }
  .welcome__login{
    width: 50%;
    
    }
  }

  @media (max-width: 650px) {
    .welcome__image{
    width: 0%;
    background-image: none;
  }
  .welcome__login{
    width: 100%;
    }
  }
</style>

<div class="welcome">
  <div class="welcome__image">
    <div class="welcome__image--blur"></div>
  </div>
  <div class="welcome__login">
            <h1 class="mt-4">Manage Poll</h1>
                <a href="./<%= id %>/invate" class="btn btn-primary mb-3">Invite Users</a>
                <a href="./<%= id %>/invatedUsers" class="btn btn-primary mb-3">Already invited users</a>
                <a href="./<%= id %>/answers" class="btn btn-primary mb-3">Check answers</a>
                <a href="../yourPolls" class="btn btn-secondary">Back</a>
  </div>
</div>
